<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>Fast Service - Contato</title>
	<meta name="description" content="Entre em contato com a Fast Service!">

	<meta property="og:type" content="website" />
	<meta property="og:title" content="Fast Service - Contato" />
	<meta property="og:description" content="Entre em contato com a Fast Service!" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="img/FS-icon.ico">
	<link rel="stylesheet" href="css/style.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
	<script src="fastservice_utils.js"></script>
	<script src="fastservice_api.js"></script>
</head>

<body>

	<!-- Essa SECTION poderá funcionar melhor como um componente popup. Essa rota ficou estranha pra carmaba, kkkkk  -->
	<section class="contato container fadeInDown" data-anime="1200">
		<div id=app>

			<!-- Apenas para poder atualizar o usuario logado para testes -->
			<div style="width: 100%;" id="form_orcamento" class="contato_form grid-8 formphp">
				<div style="display: flex; width: 100%;">
					<div style="display: block; width: 100%; padding: 50px; padding-top: 0px;">
						<label for="login">UPDATE CONTATO:</label>
						<input v-model="usuario_id" type="login" id="login" name="login" required>
						<button id="enviar" v-on:click="LOGIN()" name="enviar" type="submit"
							class="btn btn-preto">login</button>
					</div>
				</div>
			</div>

			<!-- formulário para atualizar contato -->
			<form style="width: 100%;" v-on:submit.prevent="submit()" id="form_orcamento"
				class="contato_form grid-8 formphp">
				<div style="display: flex; width: 100%;">
					<div style="display: block; width: 100%; padding: 50px; padding-top: 0px;">

						<label for="email">E-mail</label>
						<input v-model="form.email" type="email" id="email" name="email" required>

						<label for="telefone">Telefone</label>
						<input v-model="form.telefone" v-on:input="telefoneMask" type="text" id="telefone"
							name="telefone" maxlength="15" required>

						<button id="enviar" name="enviar" type="submit" class="btn btn-preto">Cadastrar</button>
					</div>

					<!-- area de teste -->
					<div style="display: block; width: 100%; padding: 50px; padding-top: 0px;">
						<p>TESTES</p><br>
						<ul>
							<li>Nome: {{usuario_data.nome}}</li>
							<li>Nome: {{usuario_data.email}}</li>
							<li>Nome: {{usuario_data.telefone}}</li>
						</ul>
					</div>


				</div>
			</form>
		</div>
	</section>

	<!-- JavaScript -->
	<script src="./js/simple-anime.js"></script>
	<script src="./js/script.js"></script>

	<!-- VueJs -->
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				usuario_id: '',
				usuario_data: {},
				form: {},
				appMsg: '',
			},
			methods: {
				LOGIN: async function () {
					console.log(this.usuario_id);
					const response = await signIn(this.usuario_id);
					const responseData = await readUsuarios(this.usuario_id);
					document.cookie = "fastserviceId=" + response.usuario_id;
					sessionStorage.setItem("fastserviceData", JSON.stringify(response));
					this.usuario_data = responseData;
				},
				submit: async function () {
					try {
						const response = await updateUsuariosContatos(this.usuario_id, this.form);
						if (response.msg === undefined) {
							let id = response.usuario_id;
							this.appMsg = "Contatos atualizados com sucesso! \nID: " + response.usuario_id;
						} else {
							this.appMsg = "ERROR! " + response.msg;
						}
					} catch (error) {
						this.appMsg = "Falha ao atualizar os contatos!";
					}
					alert(this.appMsg);
					// a proxima função é apenas para testes, em produção é outra logica
					this.LOGIN();
				},
				// Masks
				telefoneMask: function () {
					this.form.telefone = this.form.telefone.replace(/[^\d]/g, "").replace(/(\d{0})(\d{2})(\d{0})(\d{5})/g, "\$1(\$2)\$3 \$4\-");
				},
			}
		});
	</script>
</body>

</html>