<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>Fast Service - Minha Conta</title>
	<meta name="description" content="Minha conta na Fast Service">

	<meta property="og:type" content="website" />
	<meta property="og:title" content="Fast Service - Minha Conta" />
	<meta property="og:description" content="Minha conta na Fast Service" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="img/FS-icon.ico">
	<link rel="stylesheet" href="css/style.css">

	<!-- <script>document.documentElement.classList.add("js");</script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

	<script src="js/fastservice_utils.js"></script>
	<script src="js/fastservice_api.js"></script>
</head>

<body>

	<header class="header">
		<div class="container">
			<a href="index.html" class="grid-4">
				<img src="img/FS-logo-header.png" alt="Fast Service">
			</a>
			<nav class="grid-12 header_menu">
				<ul>
					<li><a href="sobre.html">Sobre</a></li>
					<li><a href="cadastro.html"> Cadastro</a></li>
					<li><a href="servicos.html">Serviços</a></li>
					<li><a href="contato.html">Contato</a></li>
					<li><a href="carrinho.html"><img src="img/carrinho.svg" alt="carrinho"></a></li>
					<li><a href="minhaconta.html" class="menu_ativo"> <img src="img/user.svg" alt="minhaconta"></a></li>
				</ul>
			</nav>
		</div>
	</header>

	<header v-html="./components/header.js"></header>

	<section class="introducao-interna interna_minhaconta">
		<div class="container">
			<h1 data-anime="400" class="fadeInDown">Minha Conta</h1>
			<p data-anime="800" class="fadeInDown"></p>
		</div>
	</section>


	<section class="contato container fadeInDown" data-anime="1200">
		<div id=app>
			<form style="width: 100%;" v-on:submit.prevent="CADASTRAR_USUARIO()" id="form_orcamento"
				class="contato_form grid-8 formphp">
				<div style="display: flex; width: 100%;">
					<div style="display: block; width: 100%; padding: 50px; padding-top: 0px;">
						<label for="nome">Nome</label>
						<input v-model="form.nome" type="text" id="nome" name="nome" required>

						<label for="email">E-mail</label>
						<input v-model="form.email" type="email" id="email" name="email" required>

						<label for="cpf">CPF</label>
						<input v-model="form.cpf" v-on:input="cpfMask" type="text" id="cpf" name="cpf" maxlength="11"
							required>

						<label for="telefone">Telefone</label>
						<input v-model="form.telefone" v-on:input="telefoneMask" type="text" id="telefone"
							name="telefone" maxlength="15" required>

						<label for="dataNascimento">Data de nascimento</label>
						<input v-model="form.dataNascimento" type="date" id="dataNascimento" name="dataNascimento"
							maxlength="11" required>

						<label for="genero">Genero</label>
						<div>
							<input v-model="form.genero" style="display: inline; width: auto;" type="radio" id="M"
								name="genero" value="H">
							<label style="display: inline; width: auto;" for="M">Homem</label>
							<input v-model="form.genero" style="display: inline; width: auto;" type="radio" id="M"
								name="genero" value="M">
							<label style="display: inline; width: auto;" for="F">Mulher</label>
						</div>
					</div>
					<div style="display: block; width: 100%; padding: 50px; padding-top: 0px;">

						<label for="cep">CEP</label>
						<input v-model="form.cep" v-on:input="cepEnderecoMask" type="text" id="cep" name="cep"
							maxlength="9" required>

						<label for="estado">Estado - UF</label>
						<input v-model="form.estado" v-on:input="ufEnderecoMask" type="text" id="estado" name="estado"
							maxlength="2" required>

						<label for="municipio">Municipio</label>
						<input v-model="form.municipio" type="text" id="municipio" name="municipio" required>

						<label for="bairro">Bairro</label>
						<input v-model="form.bairro" type="text" id="bairro" name="bairro" required>

						<label for="logradouro">Logradouro</label>
						<input v-model="form.logradouro" type="text" id="logradouro" name="logradouro" required>

						<label for="numero">Numero</label>
						<input v-model="form.numero" v-on:input="numeroEnderecoMask" type="text" id="numero"
							name="numero" maxlength="6" required>

						<label for="complemento">Complemento</label>
						<input v-model="form.complemento" type="text" id="complemento" name="complemento" maxlength="20">
						<input  v-model="form.complemento" type="text" id="complemento" name="complemento" maxlength="20" >

						<button v-if="usuario_id==='undefined'" id="enviar" name="enviar" type="submit" class="btn btn-preto">Cadastrar</button>

						<button v-else id="enviar" name="enviar" type="submit" class="btn btn-preto">Atualizar</button>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="quebra">
		<blockquote class="quote-externo container">
			<p>“O serviço que você precisa, na hora que você quiser.”</p>
			<cite>FAST SERVICE</cite>
		</blockquote>
	</section>

	<footer>
		<div class="footer">
			<div class="container">

				<div class="grid-8 footer_historia">
					<h3>Nossa História</h3>
					<p>Iniciamos nossa trajetória em 2020, de uma ideia vinda do meio acadêmico, hoje essa ideia é real,
						somos a FastService, te ajudamos a encontrar todos os serviços que você precisar.</p>
				</div>

				<div class="grid-4 footer_contato">
					<h3>Contato</h3>
					<ul>
						<li>- 48 9 9999-9999</li>
						<li>- contato@fastservice.com.br</li>
						<li>- São José - SC</li>
					</ul>
				</div>

				<div class="grid-4 footer_redes">
					<h3>Nossas Redes</h3>
					<ul>
						<li><a href="http://facebook.com" target="_blank"><img src="img/redes-sociais/facebook.svg"
									alt="Facebook Fast Service"></a></li>
						<li><a href="http://instagram.com" target="_blank"><img src="img/redes-sociais/instagram.svg"
									alt="Instagram Fast Service"></a></li>
						<li><a href="http://twitter.com" target="_blank"><img src="img/redes-sociais/twitter.svg"
									alt="Twitter Fast Service"></a></li>
					</ul>
				</div>

			</div>
		</div>

		<div class="copy">
			<div class="container">
				<p class="grid-16">Fast Service 2021 - Direitos Reservados.</p>
			</div>
		</div>
	</footer>

	<!-- JavaScript -->
	<script src="./js/simple-anime.js"></script>
	<!-- <script src="./js/simple-form.js"></script> -->
	<script src="./js/script.js"></script>
	<!-- JavaScript -->
	<!-- VueJs -->
	<script>

		import um from './components/um.vue'

		export default {
		}
		
		var app = new Vue({
			el: "#app",
			data: {
				usuario_id: "0",
				form: {},
				appMsg: '',
			},
			components: {
				um
			},
			methods: {
				CARREGAR_USUARIO: async function (usuario_id) {
					try {
						const response = await readUsuarios(usuario_id);
						document.cookie = "fastserviceId=" + response.usuario_id;
						sessionStorage.setItem("fastserviceData", JSON.stringify(response));
						this.form = response;

					} catch (error) {

					}
				},
				CADASTRAR_USUARIO: async function () {
					try {
						const response = await cadastraUsuarios(this.form);
						if (response.msg === undefined) {
							let id = response.usuario_id;
							let dataJson = JSON.stringify(response);
							document.cookie = "fastserviceId=" + id;
							sessionStorage.setItem("fastserviceData", dataJson);
							this.appMsg = "Usuário cadastro com sucesso! \nID: " + response.usuario_id;
						} else {
							this.appMsg = "Usuário cadastro com sucesso! \nID: " + response.msg;
						}
					} catch (error) {
						this.appMsg = "Falha ao cadastro o usuário!";
					}
					alert(this.appMsg);
					window.location.href = "index.html";
				},
				// Masks
				cpfMask: function () {
					this.form.cpf = this.form.cpf.replace(/[^\d]/g, "").replace(/(\d{3})(\d{3})(\d{3})(\d{2})/g, "\$1.\$2.\$3\-\$4");
				},
				telefoneMask: function () {
					this.form.telefone = this.form.telefone.replace(/[^\d]/g, "").replace(/(\d{0})(\d{2})(\d{0})(\d{5})/g, "\$1(\$2)\$3 \$4\-");
				},
				cepEnderecoMask: function () {
					this.form.cep = this.form.cep.replace(/[^\d]/g, "").replace(/(\d{5})/g, "\$1-");
				},
				numeroEnderecoMask: function () {
					this.form.numero = this.form.numero.replace(/[^\d]/g, "");
				},
				ufEnderecoMask: function () {
					this.form.estado = this.form.estado.replace(/^\d+$/, "");
				},
			},
			beforeMount() {
				this.usuario_id = getCookie("fastserviceId");
				this.CARREGAR_USUARIO(this.usuario_id);
			},

		});
	</script>

</body>

</html>